:root {
  --container: 1170px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul,
ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.grid {
  display: grid;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 15px;
}
